.Chat {
  float: right;
  height: 100%;
  width: 20%;
  min-width: 5cm;
  max-width: 15cm;
  position: relative;
}

.Chat__messages {
  overflow-y: scroll;
  position: absolute;
  top: 34px;
  bottom: 34px;/*The height of bootstrap's .form-control*/
  width: 100%;
  padding: .2cm;
}

.Chat__Interface {
  position: absolute;
  bottom:0;
}

#editor {
  margin-right: 20%;
  /* This should have a min-margin-right: 5cm
     see http://buildinternet.com/2009/10/purely-css-faking-minimum-margins/
   */
}
