.Chat {
  float: right;
  height: 100%;
  width: 20%;
  min-width: 5cm;
  max-width: 15cm;
  position: relative;
  background: #fff;
}

.Chat .glyphicon-pushpin {
  display:none;
}

@media (max-width: 991px) {
  .Chat {
    float:none;
    position:absolute;
    bottom:0;
    right:.5cm;
    height:10cm;
    border:1px solid #777;
    border-radius:.3cm;
    width:7.5cm;
    z-index: 10; /*for good measure, codemirror uses z-index up to 2*/
  }
  .Chat ~ #editor {
    margin-right:0;
  }
  .Chat__messages {
    bottom: calc(2 * 34px) !important;
  }
}

@media (max-width: 772px) {
  .Chat--minimized {
    width: 2cm;
    min-width: 0;
  }
  .Chat--minimized .Chat__header__controls {
    display: none;
  }
  .Chat--minimized:hover {
    width: 7.5cm;
  }
}

.Chat--minimized {
  float:none;
  position:absolute;
  bottom:0;
  right:.5cm;
  height: auto;
  border:1px solid #777;
  border-radius:.3cm;
}
.Chat--minimized .Chat__Interface,
.Chat--minimized .Chat__messages,
.Chat--minimized .Chat__header small {
  display:none;
}
.Chat--minimized .glyphicon-minus{
  display:none;
}
.Chat--minimized .glyphicon-pushpin {
  display: inline-block;
}

/* Display chat on hover*/
.Chat--minimized:hover {
  height: 10cm;
}
.Chat--minimized:hover .Chat__Interface,
.Chat--minimized:hover .Chat__messages {
  display: block;
}
.Chat--minimized:hover .Chat__header small {
  display: inline;
}

.Chat__header {
  padding: 0 .2cm;
}

.Chat__header__controls {
  position: absolute;
  right: 0;
  top: 0;
}

.Chat__messages {
  overflow-y: scroll;
  position: absolute;
  top: 34px;
  bottom: 34px;/*The height of bootstrap's .form-control*/
  width: 100%;
  padding: .2cm;
}

.Chat__Interface {
  position: absolute;
  bottom:0;
  width:100%;
}

.Chat__Interface .input-group {
  width:100%;
}

#editor {
  margin-right: 20%;
  /* This should have a min-margin-right: 5cm
     see http://buildinternet.com/2009/10/purely-css-faking-minimum-margins/
   */
}

.Chat--minimized ~ #editor,
.Chat--small ~ #editor {
  margin-right:0;
}
